<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_3_1.xsd"
           version="3.1">
    <!-- 配置应用名称 -->
    <display-name>newProject</display-name>

    <!-- 配置欢迎页面（首页），按照从上到下顺序显示 -->
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

<!--    &lt;!&ndash; 配置自定义的 Servlet &ndash;&gt;-->
<!--    <servlet>-->
<!--        <servlet-name>Hello1</servlet-name>-->
<!--        <servlet-class>Servlet.HelloServlet1</servlet-class>-->
<!--    </servlet>-->

<!--    &lt;!&ndash; Servlet 访问方式的映射，Servlet 的访问方式 &ndash;&gt;-->
<!--    <servlet-mapping>-->
<!--        <servlet-name>Hello1</servlet-name>-->

<!--        &lt;!&ndash; 上面 Servlet 的访问方式，即 Hello1 &ndash;&gt;-->
<!--        <url-pattern>hello1</url-pattern>-->
<!--    </servlet-mapping>-->

</web-app>
